.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1{
  color: #fff;
  font-size: 32px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d2e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button{
    border-radius: 30px;
    background-color: #8B8AE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  & button:hover{
    opacity: 0.8;
  }

  & input{
    border: 1px solid #48456c;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}
.index{
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;

}
.frequencyCard{
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  & p{
    color: #fff;
    font-weight: bold;
  }
  & span{
    font-weight: bold;
  }
}
.averageCard{
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  & span{
    font-weight: bold;
    color: #fff;
  }
}
.averageAboveCard{
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  & p{
    color: #fff;
    font-weight: bold;
  }
  & span{
    font-weight: bold;
  }
}
.studentCard{
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  & p{
    color: #fff;
    font-weight: bold;
  }
  & span{
    font-weight: normal;
  }
}
hr{
  border-radius: 30px;
  background-color: #8B8AE1;
  height: 2px;
  border: none;
  font-weight: bold;
}